<div class="container-fluid" style="margin-top: 1in;">
    <h1 style="text-align: left;">My Personal Diary&nbsp;<img src="assets/img/diary.png" style="width:100px; height:100px">
    </h1>
    <div class="row">

        <div class="col-md-5 content text-left">
            <div *ngFor="let entry of entrys; let i = index" style="font-size: medium;">
                <div>
                    <div style="display:inline; font-weight: bolder; color: darkmagenta; letter-spacing: 1px">
                        {{entry.entryDate|date}}</div> <br>
                    <div style="display:inline" appHighlight>{{entry.title}} <br></div>&nbsp;
                    <button (click)="toggleDetails(i)" class="btn btn-primary" style="font-size: small;">
            View Details
          </button>
                </div>

                <div *ngIf="entry.showDescription">
                    <app-diary-detail [entry]="entry" (isComplete)="deleteEntry($event, i)"></app-diary-detail>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <app-diary-form (addEntry)="addNewEntry($event)"></app-diary-form>
        </div>

    </div>
</div>